<ul class="alert alert-danger list-unstyled empty">
	{%- for error in errors -%}
		<li>{{ error }}</li>
	{%- endfor -%}
</ul>
<form method="POST" enctype="multipart/form-data" novalidate>
	<div class="mb-3">
		<label for="name" class="form-label">Nom</label>
		<input type="text" class="form-control" id="name" name="name" placeholder="Calzone" value="{{ dish.name }}" required>
	</div>
	<div class="mb-3">
		<label for="category" class="form-label">Categorie</label>
		<select class="form-control" name="category" id="category">
			{% for category in categories %}
				<option {{ dish.category == category.id ? 'selected' : '' }} value="{{ category.id }}">{{ category.name }}</option>
			{% endfor %}
		</select>
	</div>
	<div class="mb-3">
		<label  class="form-label" for="price">Prix</label>
		<input type="number" class="form-control" id="price" min="0" step="0.1" name="price" value="{{ dish.price }}"> 
	</div>

	<div class="mb-3">
		<label for="image" class="form-label">Image</label>
		<input type="file" class="form-control" id="image" name="image" required>
	</div>
	<div class="mb-3">
		<label for="description" class="form-label">Description</label>
		<textarea class="form-control" name="description" id="description" cols="30" rows="10" placeholder="Tomate, champignon, fromage">
			{{- dish.description -}}
		</textarea>
	</div>
	<button class="btn btn-success">{{ buttonName|default('Ajouter') }} </button>
</form>
